
<!--　一旦削除
<div class="boxA">
    <div class="box1">
        <div class="site">
            <h1>Test</h1>
        </div>
    </div>
</div>


<div class="box2">
    <nav class="menu">
        <ul>
            <li><%= link_to 'HOME', {:controller => "top"}, class: "btn" %></li>
            <li><%= link_to 'BLOG', {:controller => "blogs", :action => 'index'}, class: "btn" %></li>
            <li><%= link_to 'CONTACT US', form_path, class: "btn" %></li>
            
            <% if user_signed_in? %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %></li>
            <li><%= link_to "登録情報を変更する", edit_user_registration_path, class: "btn" %></li>
            <% else %>
            <li><%= link_to "Login", new_user_session_path, class: "btn" %></li>
            <% end %>
        </ul>
    </nav>
</div> -->


<div class="jumbotron">
  <h1>achieve</h1>
  <p>「経験ゼロからWebエンジニアになる！」</p>
  <p>achieveは、目標達成を支援するWebアプリケーションです。</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">今すぐはじめる</a></p>
</div>




