<p id="notice"><%= notice %></p>

<%= link_to 'New Blog', new_blog_path %>

<% @blogs.each do |blog| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= blog.title %></h3>
  </div>
  <div class="panel-body">
    <%= blog.content %><br />
    <em><%= blog.created_at %></em>
  </div>
</div>
<% end %>



<!-- 一旦削除
<h1>Blog一覧</h1>
<p>このサイトではblogを投稿することができます</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



  <ul>
      <li><%= link_to '新しいブログを作る', new_blog_path, class: 'btn' %></li>
      <li><%= link_to 'TOPへ戻る', root_path, class: "btn" %></li>
    </ul>
-->