<div class="row">
<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 well well-lg">

<h2>パスワードを忘れたとき</h2>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, :class => "control-label" %><br />
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => :email %>
  </div>

  <div class="form-group">
    <%= f.submit "パスワードを変更する", :class => "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>





</div>
</div>